.aios-glyph {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.aios-glyph--sm {
  padding: var(--space-xs);
}

.aios-glyph--md {
  padding: var(--space-sm);
}

.aios-glyph--lg {
  padding: var(--space-md);
}

.aios-glyph--light .aios-dot-matrix--glyph .aios-dot-matrix__dot {
  background-color: var(--widget-dark-2);
}

.aios-glyph--light .aios-dot-matrix--glyph .aios-dot-matrix__dot--active {
  background-color: var(--widget-dark-2);
}

.aios-glyph--light .aios-dot-matrix--glyph .aios-dot-matrix__dot--dim {
  background-color: var(--widget-dark-4);
  opacity: 0.4;
}

.aios-glyph--dark .aios-dot-matrix--glyph .aios-dot-matrix__dot {
  background-color: var(--widget-white);
}

.aios-glyph--dark .aios-dot-matrix--glyph .aios-dot-matrix__dot--active {
  background-color: var(--widget-white);
}

.aios-glyph--dark .aios-dot-matrix--glyph .aios-dot-matrix__dot--dim {
  background-color: var(--widget-dark-4);
  opacity: 0.4;
}

.aios-glyph--accent .aios-dot-matrix--glyph .aios-dot-matrix__dot {
  background-color: var(--widget-primary);
}

.aios-glyph--accent .aios-dot-matrix--glyph .aios-dot-matrix__dot--active {
  background-color: var(--widget-primary);
}

.aios-glyph--accent .aios-dot-matrix--glyph .aios-dot-matrix__dot--dim {
  background-color: var(--widget-primary);
  opacity: 0.3;
}
